<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>

  <div class="container">
    <app-navbar></app-navbar>
    <div class="jumbotron">
      <div class="text-center">
        <h2 class="mat-display-1">Dodavanje tipa pregleda</h2>

        <form name="form" #f="ngForm" novalidate class="pregledi-form" (ngSubmit)="onSubmit()" style="text-align: left;">

            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label>Naziv tipa pregleda</mat-label>
                <input class="input" type="text" id="naziv" matInput name="naziv" [(ngModel)]="model.tipPregleda" required>
              </mat-form-field>
            </div>

      
            <div style="margin-bottom: 30px;">
              <button type="button" mat-flat-button class="pull-left" [routerLink]="['/adminklinike/defpregleda']">Nazad</button>
              <button type="submit" mat-raised-button color="primary" class="pull-right" [disabled]="!f.valid">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span> Dodaj tip</span>
              </button>
            </div>
            
          </form>
      </div>
    </div>
  </div>
</body>
</html>

