<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <h4>Lista zahteva za registraciju:</h4>

        <table class="table" style="margin-top: 20px" *ngIf="postojiModel">
          <thead class = "thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Adresa</th>
            <th scope="col">Opis</th>
            <th scope="col">Akcije</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let zahtev of models; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td> {{zahtev.ime}} </td>
                <td>{{zahtev.prezime}}</td>
                <td>{{zahtev.email}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="container">
      <button class="btn btn-primary pull-left" (click)="getTest()"> Dobavi klinike</button>
      <button class="btn btn-primary pull-right" [routerLink]="['/login']">Odjavite se</button>
    </div>


  </div>

</body>
</html>
