<mat-toolbar color="primary" class="navbar">
    <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/medsestra']">Medical Care</a></span>
    <div>

        <span style="margin-right: 20px;"><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/medsestra/odsustva']">Zahtev za odsustvo</a></span>
        <span style="margin-right: 20px;"><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/medsestra/kalendar']">Kalendar</a></span>
        <span style="margin-right: 20px;"><a style="text-decoration: none; color: aliceblue;" [routerLink]="['svirecepti']">Recepti</a></span>
        <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/medsestra/detaljnije']"><span> <i class="fa fa-user" aria-hidden="true"></i></span> </a></span>
    </div>
</mat-toolbar>