<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>

  <div class="container">
    <app-navbar></app-navbar>
    <div class="jumbotron">
      <div class="text-center">
        <h4>Definisanje pregleda</h4>

        <form name="form" #f="ngForm" novalidate class="pregledi-form" (ngSubmit)="onSubmit()" style="text-align: left;">


            <div class="form-group">
                <label for="vreme">Datum i vreme pregleda </label>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" readonly="true"  style="background: #fff;" [(ngModel)]="pregled.datumVreme" name="vreme">
                <owl-date-time #dt1></owl-date-time>

            </div>
      
            <div class="form-group">

              <mat-form-field class="full-width">
                <mat-label style="margin-bottom: 30px;">Tip pregleda</mat-label>
                <mat-select [(ngModel)]="pregled.tipPregleda" required name="tippregleda">
                    <mat-option *ngFor="let tip of tipPregleda" value={{tip.tipPregleda}}>
                        {{tip.tipPregleda}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/adminklinike/dodavanjetipa']" style="width: 100%; margin: 10px 0 10px 0;">Dodajte novi tip pregleda</button>
            </div>
      
            <div class="form-group">
              <label for="trajanje">Trajanje pregleda (min) </label>  
                <input mdInput  type="number" name="trajanje" id="trajanje" class="form-control" required min="0" max="120" [(ngModel)]="pregled.trajanjePregleda">             
            </div>


            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label style="margin-bottom: 30px;">Sala</mat-label>
                  <mat-select [(ngModel)]="pregled.salaId" required name="sala">
                      <mat-option *ngFor="let sala of sale" value={{sala.id}}>
                          {{sala.nazivSale}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label style="margin-bottom: 30px;">Lekar</mat-label>
                  <mat-select [(ngModel)]="pregled.lekar" required name="lekar">
                      <mat-option *ngFor="let lekar of lekari" value={{lekar.id}}>
                          {{lekar.ime}} {{lekar.prezime}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
                <label for="cena">Cena pregleda </label>
                <input type="number" name="cena" id="cena" class="form-control" required min="0" max="5" inputmode="numeric" [(ngModel)]="pregled.cena">
            </div>

      
            <div style="margin-bottom: 30px;">
              <button type="button" mat-flat-button class="pull-left" [routerLink]="['/adminklinike']">Nazad</button>
              <button type="submit" mat-raised-button color="primary" class="pull-right" [disabled]="!f.valid">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span> Dodaj pregled</span>
              </button>
            </div>
            
          </form>

      </div>
    </div>

  </div>

</body>

</html>

