<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>

  <div class="container">
    <app-lekar-navbar></app-lekar-navbar>
    <div class="jumbotron">
      <div class="text-center">
        <h4>Zapocinjanje operacija</h4>

        <form name="form" #f="ngForm" novalidate class="pregledi-form" (ngSubmit)="onSubmit()" style="text-align: left;">

            <div class="form-group">
                <label for="vreme">Datum i vreme operacije </label>
                <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" readonly="true"  style="background: #fff;" [(ngModel)]="dateAndTime" name="vreme">
                <owl-date-time #dt1></owl-date-time>
            </div>
      
            <div class="form-group">
              <label for="trajanje">Trajanje operacije (min) </label>  
                <input mdInput  type="number" name="trajanje" id="trajanje" class="form-control" required min="0" max="120" [(ngModel)]="trajanjeOperacije">             
            </div>

            <div class="form-group">
              <mat-form-field class="full-width">
                <mat-label style="margin-bottom: 30px;">Pacijent</mat-label>
                  <mat-select [(ngModel)]="pacijent" required name="pacijenti">
                      <mat-option *ngFor="let pacijent of pacijenti" value={{pacijent.id}}>
                          {{pacijent.ime}} {{pacijent.prezime}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
      
            <div style="margin-bottom: 30px;">
              <button type="button" mat-flat-button class="pull-left" [routerLink]="['/lekar']">Nazad</button>
              <button type="submit" mat-raised-button color="primary" class="pull-right" [disabled]="!f.valid">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span> Posalji zahtev</span>
              </button>
            </div>
            
          </form>

      </div>
    </div>

  </div>

</body>
</html>

