<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <h1>Dobrodošli</h1>

        <table class="table">
          <thead class = "thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Termin</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Petar</td>
            <td>Petrović</td>
            <td>01/02/2019</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Milan</td>
            <td>Janković</td>
            <td>02/02/2019</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Marko</td>
            <td>Stevanović</td>
            <td>03/01/2019</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <button class="btn btn-primary pull-right" routerLink="/login">Odjavite se</button>
  </div>
</body>
</html>
