<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
</head>
<body>

  <app-navbar></app-navbar>

  <div class="container">
      <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminklinike']">Pocetna strana</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminklinike/defpregleda']">Pregledi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminklinike/sale']">Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminklinike/izvestaj']">Izvestaj</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminklinike/home']">Home</a>
              </li>
            </ul>
      </nav> -->
    <div class="jumbotron">
      
      <div class="text-center">
        <h2 class="mat-display-1">Klinika</h2>

        <table mat-table [dataSource]="models" class="mat-elevation-z8" *ngIf="!filtriraj">
          <ng-container matColumnDef="Naziv">
              <mat-header-cell *matHeaderCellDef>Naziv</mat-header-cell>
              <mat-cell *matCellDef="let klinika"> {{klinika.naziv}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Adresa">
              <mat-header-cell *matHeaderCellDef>Adresa</mat-header-cell>
              <mat-cell *matCellDef="let klinika"> {{klinika.adresa}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Opis">
              <mat-header-cell *matHeaderCellDef>Opis</mat-header-cell>
              <mat-cell *matCellDef="let klinika"> {{klinika.opis}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Akcije">
              <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
              <mat-cell *matCellDef="let klinika" style="padding-left: 10%;">
                  <button mat-mini-fab color="primary" (click)="onDetaljnije(klinika)" routerLink="/adminklinike/klinika" matTooltip="Vise informacija o klinici">
                      <i class="fa fa-info" aria-hidden="true"></i>
                  </button>
              </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
      </table>

        <!-- <table class="table">
          <thead class = "thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Adresa</th>
            <th scope="col">Opis</th>
            <th scope="col">Akcije</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let klinika of models; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{klinika.naziv}}</td>
                <td>{{klinika.adresa}}</td>
                <td>{{klinika.opis}}</td>
                <td><button class="btn btn-info" (click)="onDetaljnije(klinika)" routerLink="/adminklinike/klinika"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Detaljnije</button></td>
            </tr>
          </tbody>
        </table> -->

      </div>
    </div>
    <div class="container">
      <button class="btn btn-outline-primary pull-right" [routerLink]="['/login']">Odjavite se</button>
    </div>

  </div>
  
</body>
</html>
