<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lekar</title>
</head>
<body>
<div class="text-center">
  <app-lekar-navbar></app-lekar-navbar>
  <h2 class="mat-display-1">Pacijenti klinike</h2>
  <table mat-table [dataSource]="models" class="mat-elevation-z8" *ngIf="!filtriraj" matSort>
    <ng-container matColumnDef="ime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
        <mat-cell *matCellDef="let pacijent"> {{pacijent.ime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prezime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</mat-header-cell>
        <mat-cell *matCellDef="let pacijent"> {{pacijent.prezime}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let pacijent"> {{pacijent.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Akcije">
        <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
        <mat-cell *matCellDef="let klinika" style="padding-left: 10%;">
            <button mat-mini-fab color="primary" (click)="onDetaljnije(klinika)" routerLink="/adminklinike/klinika" matTooltip="Vise informacija o pacijentu">
                <i class="fa fa-info" aria-hidden="true"></i>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</table>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
</div>
</body>
</html>
