<mat-toolbar color="primary" class="navbar">
    <div>Medical Care</div>
    <div>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/dodavanjepregleda']">Novi Pregled</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/kalendar']">Kalendar</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/odsustva']">Odsustva</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/zakazivanje']">Zakazivanje</a></span>
    </div>
  </mat-toolbar>