<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pregled pacijenata</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="jumbotron">
        <div style="text-align: center;">
            <div class="mat-h1">Pacijenti klinike</div>
            <table mat-table [dataSource]="pacijentiDataSource" class="mat-elevation-z8" style="width: 100%;" matSort>
                <ng-container matColumnDef="ime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent"> {{pacijent.ime}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="prezime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent"> {{pacijent.prezime}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent"> {{pacijent.email}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="brojTelefona">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Broj Telefona</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent"> {{pacijent.brojTelefona}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="brojOsiguranja">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Broj Osiguranja</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent"> {{pacijent.brojOsiguranja}} </mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="Akcije">
                    <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                    <mat-cell *matCellDef="let pacijent" style="padding-left: 10%;">
                        <button mat-mini-fab color="primary" (click)="detaljnijePacijent(pacijent)" matTooltip="Vise informacija o pacijentu">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="preglediColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: preglediColumns;"></mat-row>
            </table>
            <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
        </div>
    </div>
</body>
</html>
