<mat-toolbar color="primary" class="navbar">
    <div>Medical Care</div>
    <div>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/adminklinike/defpregleda']">Pregledi</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/adminklinike/sale']">Sale</a></span>
      <!-- <span><a style="text-decoration: none; color: aliceblue;"  [routerLink]="['/adminklinike/izvestaj']">Izvestaj</a></span> -->
      <span><a style="text-decoration: none; color: aliceblue;"  [routerLink]="['/adminklinike']">Pocetna strana</a></span>
    </div>
  </mat-toolbar>