<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klinika</title>
</head>
<body>

    <div class="container">
        <app-navbar></app-navbar>
        <div class="jumbotron">
        <div class="text-center">
            <h2 class="mat-display-1">Azuriranje podataka klinike</h2>
            <p class="mat-h4" *ngIf="klinika.prosecnaOcena !== 0">Prosecna ocena klinike {{klinika.prosecnaOcena}} / 5</p>
            <form name="form" #f="ngForm" novalidate class="login-form" (ngSubmit)="onSubmit()" style="text-align: left;">
                <mat-form-field class="full-width">
                    <mat-label>Naziv</mat-label>
                    <input class="input" type="text" id="naziv" name="naziv" [(ngModel)]="klinika.naziv" matInput required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Adresa</mat-label>
                    <input class="input" type="text" id="adresa" name="adresa" [(ngModel)]="klinika.adresa" matInput required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Opis</mat-label>
                    <input class="input" type="text" id="opis" name="opis" [(ngModel)]="klinika.opis" matInput required>
                </mat-form-field>
                
            
                <div style="margin-bottom: 10%;">
                    <button type="submit" mat-raised-button color="primary" class="pull-right" [disabled]="!f.valid">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span> Izmeni podatke</span>
                    </button>
                </div>
            
            </form>


            <div style="text-align: center; margin-top: 10%;">
                <mat-divider style="margin: 10px 0 10px 0;"></mat-divider>
                <div class="mat-h1">Lekari</div>
                <table mat-table [dataSource]="lekari" class="mat-elevation-z8" matSort>
                    <ng-container matColumnDef="ime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Ime</mat-header-cell>
                        <mat-cell *matCellDef="let lekar"> {{lekar.ime}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="prezime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</mat-header-cell>
                        <mat-cell *matCellDef="let lekar"> {{lekar.prezime}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let lekar"> {{lekar.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="prosecnaOcena">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Prosecna Ocena</mat-header-cell>
                        <mat-cell *matCellDef="let lekar"> {{lekar.prosecnaOcena}} / 5 </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Akcije">
                        <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                        <mat-cell *matCellDef="let lekar" style="padding-left: 10%;">
                            <button mat-mini-fab color="warn" (click)="openLekarDialog(lekar)" matTooltip="Obrisi lekara">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="lekariColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: lekariColumns;"></mat-row>
                </table>
                <button mat-raised-button color="primary" [routerLink]="['/adminklinike/zahtevizaodsustvo']" style="margin-top: 2%; width: 100%;">Zahtevi osoblja za odsustvo</button>
               </div>

                <div>
                    <mat-divider style="margin: 30px 0 10px 0;"></mat-divider>
                    <div class="mat-h1">Sale</div>
                    <table mat-table [dataSource]="sale" class="mat-elevation-z8">
                        <ng-container matColumnDef="nazivSale">
                            <mat-header-cell *matHeaderCellDef>Naziv Sale</mat-header-cell>
                            <mat-cell *matCellDef="let sala"> {{sala.nazivSale}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Akcije">
                            <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                            <mat-cell *matCellDef="let sala" style="padding-left: 10%;">
                                <button mat-mini-fab color="primary" matTooltip="Kalendar zauzeca" style="margin-right: 5px;" [routerLink]="['/adminklinike/sala/calendar']" (click)="editSala(sala)">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </button>
                                <button mat-mini-fab color="primary" (click)="editSala(sala)" matTooltip="Izmena sale" style="margin-right: 2px;" [routerLink]="['/adminklinike/sala']">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button mat-mini-fab color="warn" (click)="openDialog(sala)" matTooltip="Obrisi salu">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                    </table>
                </div>

                <div style="text-align: center;" style="margin-top: 10%;">
                    <mat-divider style="margin: 10px 0 10px 0;"></mat-divider>
                    <div class="mat-h1">Pregledi / Cenovnik</div>
                    <table mat-table [dataSource]="pregledi" class="mat-elevation-z8">
                        <ng-container matColumnDef="Broj Sale">
                            <mat-header-cell *matHeaderCellDef>Broj Sale</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.sala}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Tip pregleda">
                            <mat-header-cell *matHeaderCellDef>Tip pregleda</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.tipPregleda}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Pocetak pregleda">
                            <mat-header-cell *matHeaderCellDef>Pocetak pregleda</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.pocetakTermina}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Kraj pregleda">
                            <mat-header-cell *matHeaderCellDef>Kraj regelda</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.krajTermina}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Lekar">
                            <mat-header-cell *matHeaderCellDef>Lekar</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.lekarImeIPrezime}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Cena">
                            <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.cena}} RSD </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Akcije">
                            <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                            <mat-cell *matCellDef="let pregled" style="padding-left: 10%;">
                                <button mat-mini-fab color="warn" (click)="obrisiPregled(pregled)" matTooltip="Obrisi pregled">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="preglediColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: preglediColumns;"></mat-row>
                    </table>
                    <button mat-raised-button color="primary" style="width: 100%; margin-top: 5px;" [routerLink]="['/adminklinike/pregledinacekanju']">Pregledi na cekanju</button>
                    <button mat-raised-button color="primary" style="width: 100%; margin-top: 5px;" [routerLink]="['/adminklinike/operacijenacekanju']">Operacije na cekanju</button>
                </div>

                <div>
                    <mat-divider style="margin: 30px 0 10px 0;"></mat-divider>
                    <div class="mat-h1">Tipovi pregleda</div>
                    <table mat-table [dataSource]="tipoviPregleda" class="mat-elevation-z8">
                        <ng-container matColumnDef="tipPregleda">
                            <mat-header-cell *matHeaderCellDef>Tip Pregleda</mat-header-cell>
                            <mat-cell *matCellDef="let pregled"> {{pregled.tipPregleda}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Akcije">
                            <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                            <mat-cell *matCellDef="let pregled" style="padding-left: 10%;">
                                <button mat-mini-fab color="primary" (click)="editTipPregleda(pregled)" matTooltip="Izmena tipa pregleda" style="margin-right: 5px;" [routerLink]="['/adminklinike/izmenatipa']">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button mat-mini-fab color="warn" (click)="obrisiTip(pregled)" matTooltip="Obrisi tip pregleda">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="tipoviPregledaColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tipoviPregledaColumns;"></mat-row>
                    </table>
                </div>
        </div>
        </div>
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)=onMapClick($event)>
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>

        <div class="container" style="margin-bottom: 20%;">
        <button mat-stroked-button color="primary" type="button" class="pull-left" [routerLink]="['/adminklinike']">Nazad</button>
        <button mat-raised-button color="primary" class="pull-right" [routerLink]="['/login']">Odjavite se</button>
        </div>
    
    </div>
      
</body>
</html>