<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dodavanje Lekara</title>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="container col-xs-12 col-md-8 col-md-offset-3">
    <div class="jumbotron">
      <div class="text-center">
        <div class="mat-display-2">Dodavanje lekara</div>
      </div>
      <div class="alert alert-danger" *ngIf="errorStatus" style="text-align: center">
        <div class="mat-display-1">{{errorStatus}}</div>
      </div>
      <form name="form" class="my-form" #f="ngForm" novalidate class="login-form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width">
          <mat-label>Ime</mat-label>
          <input class="input" type="text" id="ime" name="ime" [(ngModel)]="model.ime" matInput required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Prezime</mat-label>
          <input class="input" type="text" id="prezime" name="prezime" [(ngModel)]="model.prezime" matInput required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input class="input" type="email" id="email" name="email" [(ngModel)]="model.email" matInput required email>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Lozinka</mat-label>
          <input class="input" type="password" id="lozinka" name="lozinka" [(ngModel)]="model.lozinka" matInput
            required minlength="6">
          <mat-hint>Minimalno 6 karaktera</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Potvrdite unetu lozinku</mat-label>
          <input class="input" type="password" id="lozinkaPonovo" name="lozinkaPonovo" [(ngModel)]="lozinkaPonovo"
            matInput required minlength="6">
          <mat-hint>Lozinke se moraju poklapati</mat-hint>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="pull-left" [disabled]="!f.valid">
          <i class="fa fa-user-plus"></i>
          <span> Dodaj lekara</span>
        </button>

        <button type="button" mat-stroked-button class="pull-right" routerLink="/adminklinike">Nazad</button>
      </form>
    </div>
  </div>

  <router-outlet></router-outlet>

</body>

</html>