<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>


        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>


        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/medical_care
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            root
        </property>

        <!-- Mapping classes -->
        <mapping class="com.groupfour.MedicalCare.Model.Administrator.AdminKlinickogCentra"/>
        <mapping class="com.groupfour.MedicalCare.Model.Administrator.AdminKlinike"/>
        <mapping class="com.groupfour.MedicalCare.Model.Dokumenti.IzvestajOPregledu"/>
        <mapping class="com.groupfour.MedicalCare.Model.Dokumenti.Karton"/>
        <mapping class="com.groupfour.MedicalCare.Model.Dokumenti.Recept"/>
        <mapping class="com.groupfour.MedicalCare.Model.Dokumenti.SifarnikDijagnoza"/>
        <mapping class="com.groupfour.MedicalCare.Model.Dokumenti.SifarnikLekova"/>
        <mapping class="com.groupfour.MedicalCare.Model.Klinika.Klinika"/>
        <mapping class="com.groupfour.MedicalCare.Model.Klinika.OcenaKlinike"/>
        <mapping class="com.groupfour.MedicalCare.Model.Klinika.Sala"/>
        <mapping class="com.groupfour.MedicalCare.Model.Osoblje.Lekar"/>
        <mapping class="com.groupfour.MedicalCare.Model.Osoblje.MedicinskaSestra"/>
        <mapping class="com.groupfour.MedicalCare.Model.Osoblje.OcenaLekara"/>
        <mapping class="com.groupfour.MedicalCare.Model.Pacijent.Pacijent"/>
        <mapping class="com.groupfour.MedicalCare.Model.Pregled.Pregled"/>
        <mapping class="com.groupfour.MedicalCare.Model.Pregled.TipPregleda"/>
        <mapping class="com.groupfour.MedicalCare.Model.Zahtevi.OdsustvoLekara"/>
        <mapping class="com.groupfour.MedicalCare.Model.Zahtevi.OdsustvoMedicinskeSestre"/>
        <mapping class="com.groupfour.MedicalCare.Model.Pregled.Operacija"/>
        <mapping class="com.groupfour.MedicalCare.Model.Zahtevi.RegistracijaPacijenta"/>
        <mapping class="com.groupfour.MedicalCare.Model.DTO.UserRole"/>
        <mapping class="com.groupfour.MedicalCare.Model.Tabele.PacijentKlinika"/>
        <mapping class="com.groupfour.MedicalCare.Model.Pregled.PreglediNaCekanju"/>

    </session-factory>
</hibernate-configuration>