<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registracija klinike</title>
</head>
  <body>
    <div class="container col-xs-12 col-md-8 col-md-offset-3">
      <div class="jumbotron">
        <div class="text-center">
          <div class="mat-display-2">Dodavanje klinike</div>
        </div>
        <div class="alert alert-danger" *ngIf="errorStatus" style="text-align: center">
          <div class="mat-display-1">{{errorStatus}}</div>
        </div>
        <form name="form" class="my-form" #f="ngForm" novalidate class="login-form" (ngSubmit)="onSubmit()">
  
          <mat-form-field class="full-width">
            <mat-label>Naziv</mat-label>
            <input class="input" type="text" id="naziv" name="naziv" [(ngModel)]="model.naziv" matInput required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <mat-label>Adresa</mat-label>
            <input class="input" type="text" id="adresa" name="adresa" [(ngModel)]="model.adresa" matInput required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <mat-label>Opis</mat-label>
            <input class="input" type="text" id="opis" name="opis" [(ngModel)]="model.opis" matInput required>
          </mat-form-field>
  
          
          <mat-form-field class="full-width" >
            <mat-label style="margin-bottom: 30px;">Lekari</mat-label>
            <mat-select required name="lekar" multiple [(ngModel)]="model.selLekari" >
                <mat-option *ngFor="let lekar of lekari" value={{lekar.id}}>
                    {{lekar.ime}} {{lekar.prezime}}
                </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" >
            <mat-label style="margin-bottom: 30px;">Medicinske sestre</mat-label>
            <mat-select required name="sestra" multiple [(ngModel)]="model.selSestre"  >
                <mat-option *ngFor="let sestra of sestre" value={{sestra.id}}>
                    {{sestra.ime}} {{sestra.prezime}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" >
            <mat-label style="margin-bottom: 30px;">Sale</mat-label>
            <mat-select required name="sala" multiple [(ngModel)]="model.selSale" >
                <mat-option *ngFor="let sala of sale" value={{sala.id}}>
                   {{sala.nazivSale}}
                </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" >
            <mat-label style="margin-bottom: 30px;">Admini</mat-label>
            <mat-select required name="admin" multiple [(ngModel)]="model.selAdmini" >
                <mat-option *ngFor="let admin of admini" value={{admin.id}}>
                    {{admin.ime}} {{admin.prezime}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    
  
          <button type="submit" mat-raised-button color="primary" class="pull-left" [disabled]="!f.valid">
            <i class="fa fa-user-plus"></i>
            <span> Dodaj admina klinike</span>
          </button>
  
          <button type="button" mat-stroked-button class="pull-right" routerLink="/adminklinike">Nazad</button>
        </form>
      </div>
    </div>

  <router-outlet></router-outlet>

  </body>
</html>
