<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodavanje sale</title>
</head>
<body>
    <div class="container">
        <app-navbar></app-navbar>
        <div class="jumbotron">
            <div class="text-center">
                <h2 class="mat-display-1">Dodavanje sale</h2>
                    <div class="alert alert-danger" *ngIf="hasError" style="text-align: center">
                        <h4>{{errorStatus}}</h4>
                    </div>
                <form name="form" #f="ngForm" novalidate class="pregledi-form" (ngSubmit)="onSubmit()" style="text-align: left;">
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <mat-label>Broj sale</mat-label>
                                <input class="input" type="text" id="brojSale" matInput name="brojSale" [(ngModel)]="sala.nazivSale" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <mat-label style="margin-bottom: 30px;">Klinika kojoj sala pripada</mat-label>
                            <mat-select [(ngModel)]="sala.klinika" required name="klinika">
                                <mat-option *ngFor="let klinika of models" value={{klinika.id}}>
                                    {{klinika.naziv}}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <button type="submit" mat-raised-button color="primary" style="width: 100%;" [disabled]="!f.valid">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <span> Dodaj salu</span>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
