<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registracija administratora klinike</title>
</head>
  <body>
    <div class="container col-xs-12 col-md-8 col-md-offset-3">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Registrujte administratora klinike</h1>
        </div>

        <div class="alert alert-danger" *ngIf="errorStatus" style="text-align: center">
          <h4>{{errorStatus}}</h4>
        </div>
        <div *ngIf="isLoading" style="text-align: center">
          <app-loading-spinner></app-loading-spinner>
        </div>

        <form name="form" #f="ngForm" novalidate class="login-form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

          <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" id="ime" class="form-control" name="ime"  required>
          </div>

          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" id="prezime" class="form-control" name="ime"  required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" required>
          </div>

          <div class="form-group">
            <label for="lozinka">Lozinka</label>
            <input type="password" id="lozinka" class="form-control" name="lozinka" required>
          </div>

          <div class="form-group">
            <label for="lozinkaPonovo">Potvrdite unetu lozinku</label>
            <input type="password" id="lozinkaPonovo" class="form-control" name="lozinkaPonovo" required>
          </div>
          <div class="form-group">
            <label for="sel1">Odaberite kliniku</label>
            <select class="form-control" id="sel1">
              <option *ngFor="let klinika of klinike">{{klinika.naziv}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary pull-left" [disabled]="!f.valid"  routerLink="/adminkc">
            <i class="fa fa-user-plus"></i>
            <span> Registrujte Admina klinike</span>
          </button>


          <button type="button" class="btn btn-light pull-right" routerLink="/adminkc">
            <i class="fa fa-sign-in"></i>
            <span> Vratite se</span>
          </button>

        </form>
      </div>
    </div>

  <router-outlet></router-outlet>

  </body>
</html>
