<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registracija</title>
</head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Napravite nalog</h1>
        </div>
        <form name="form" #f="ngForm" novalidate class="login-form" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="ime">Ime</label>
            <input type="text" id="ime" class="form-control" name="ime" [(ngModel)]="model.ime" required>
          </div>

          <div class="form-group">
            <label for="prezime">Prezime</label>
            <input type="text" id="prezime" class="form-control" name="ime" [(ngModel)]="model.prezime" required>
          </div>

          <div class="form-group">
            <label for="adresaPrebivalista">Adresa prebivalista</label>
            <input type="text" id="adresaPrebivalista" class="form-control" name="adresaPrebivalista" [(ngModel)]="model.adresaPrebivalista" required>
          </div>

          <div class="form-group">
            <label for="grad">Grad</label>
            <input type="text" id="grad" class="form-control" name="grad" [(ngModel)]="model.grad" required>
          </div>

          <div class="form-group">
            <label for="drzava">Drzava</label>
            <input type="text" id="drzava" class="form-control" name="drzava" [(ngModel)]="model.drzava" required>
          </div>

          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input type="text" id="telefon" class="form-control" name="telefon" [(ngModel)]="model.telefon" required>
          </div>

          <div class="form-group">
            <label for="brojOsiguranja">Broj osiguranja</label>
            <input type="text" id="brojOsiguranja" class="form-control" name="brojOsiguranja" [(ngModel)]="model.brojOsiguranja" required>
          </div>


          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Vaša mejl adresa" [(ngModel)]="model.email" required>
          </div>

          <div class="form-group">
            <label for="lozinka">Lozinka</label>
            <input type="password" id="lozinka" class="form-control" name="lozinka" [(ngModel)]="model.lozinka" required>
          </div>

          <div class="form-group">
            <label for="lozinkaPonovo">Potvrdite unetu lozinku</label>
            <input type="password" id="lozinkaPonovo" class="form-control" name="lozinkaPonovo" [(ngModel)]="lozinkaPonovo" required>
          </div>

          <button type="submit" class="btn btn-primary pull-left">
            <i class="fa fa-user-plus"></i>
            <span> Registrujte se</span>
          </button>


          <button type="button" class="btn btn-light pull-right" routerLink="/login">
            <i class="fa fa-sign-in"></i>
            <span> Prijavi se</span>
          </button>

        </form>
      </div>
    </div>

  <router-outlet></router-outlet>

  </body>
</html>
