<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zahtevi za odsustvo</title>
</head>
<body>
    <div class="jumbotron" style="text-align: center;">
        <div class="pregledi" *ngIf="postojeZahtevi">
            <div class="mat-h1">Zahtevi za odsustvo</div>
                <table mat-table [dataSource]="zahteviDataSource" class="mat-elevation-z8" matSort style="width: 100%;">
                    <ng-container matColumnDef="lekar">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Lekar</mat-header-cell>
                        <mat-cell *matCellDef="let zahtev"> {{zahtev.lekar}} </mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="pocetakOdsustva">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Pocetak odsustva</mat-header-cell>
                        <mat-cell *matCellDef="let zahtev"> {{zahtev.pocetakOdsustva}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="krajOdsustva">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Kraj odsustva</mat-header-cell>
                        <mat-cell *matCellDef="let zahtev"> {{zahtev.krajOdsustva}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Akcije">
                        <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                        <mat-cell *matCellDef="let zahtev" style="padding-left: 10%;">
                            <button mat-mini-fab color="primary" (click)="potvrdiZahtev(zahtev)" matTooltip="Potvrdi zahtev">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button mat-mini-fab color="warn" (click)="openDialogZahtev(zahtev)" matTooltip="Obrisi zahtev" style="margin-left: 5px;">
                                <i class="fa fa-close" aria-hidden="true"></i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="zahteviColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: zahteviColumns;"></mat-row>
                </table>
        </div>
        <div class="ne-postoje-pregledi" *ngIf="!postojeZahtevi">
            <div class="mat-h1">Trenutno nema zahteva za odsustvo</div>
        </div>
    </div>
    <button mat-raised-button color='primary' [routerLink]="['/adminklinike/klinika']" class="pull left">Nazad</button>
</body>
</html>