<mat-toolbar color="primary" class="navbar">
  <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar']">Medical Care</a></span>
    <div>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/dodavanjepregleda']">Novi Pregled</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/kalendar']">Kalendar</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/odsustva']">Odsustva</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/zakazivanje']">Zakazivanje</a></span>
      <span><a style="text-decoration: none; color: aliceblue;" [routerLink]="['/lekar/detaljnije']"><span> <i class="fa fa-user" aria-hidden="true"></i></span> </a></span>
    </div>
  </mat-toolbar>