<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pacijent</title>
</head>
<body>
    <app-lekar-navbar></app-lekar-navbar>
    <div class="jumbotron">
        <h2 class="mat-display-1" style="text-align: center;">Profil Pacijenta</h2>
        <div style="float:left;width:50%">
            <p class="mat-body-strong"> Ime: {{pacijent.ime}} </p>
            <p class="mat-body-strong"> Prezime: {{pacijent.prezime}}</p>
            <p class="mat-body-strong"> Grad: {{pacijent.grad}}</p>
            <p class="mat-body-strong"> Drzava: {{pacijent.drzava}}</p>
        </div>
        <div style="float:left;width:50%">
            <p class="mat-body-strong"> Email: {{pacijent.email}} </p>
            <p class="mat-body-strong"> Adresa: {{pacijent.adresa}}</p>
            <p class="mat-body-strong"> Broj telefona: {{pacijent.brojTelefona}}</p>
            <p class="mat-body-strong"> Broj osiguranja: {{pacijent.brojOsiguranja}}</p>
        </div>

        <div style="text-align: center; margin-top: 10%;" *ngIf="postojePregledi">
            <div class="mat-h1">Svi pregledi pacijenta</div>
            <table mat-table [dataSource]="preglediDataSource" class="mat-elevation-z8" matSort style="width: 100%;">
                <ng-container matColumnDef="tipPregleda">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tip pregleda</mat-header-cell>
                    <mat-cell *matCellDef="let pregled"> {{pregled.tipPregleda}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sala">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sala</mat-header-cell>
                    <mat-cell *matCellDef="let pregled"> {{pregled.sala}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="lekarImeIPrezime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Lekar</mat-header-cell>
                    <mat-cell *matCellDef="let pregled"> {{pregled.lekarImeIPrezime}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pocetakTermina">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Datum pregleda</mat-header-cell>
                    <mat-cell *matCellDef="let pregled"> {{pregled.pocetakTermina}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cena">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cena pregleda</mat-header-cell>
                    <mat-cell *matCellDef="let pregled"> {{pregled.cena}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
            </table>
           </div>
           <div>
            <mat-divider style="margin: 30px 0 10px 0;"></mat-divider>
            <div class="mat-h1">Izvestaji o pregledima</div>
            <table mat-table [dataSource]="izvestajiDataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="Ime pacijenta">
                    <mat-header-cell *matHeaderCellDef>Ime pacijenta</mat-header-cell>
                    <mat-cell *matCellDef="let izvestaj"> {{izvestaj.imePacijenta}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Prezime pacijenta">
                    <mat-header-cell *matHeaderCellDef>Prezime pacijenta</mat-header-cell>
                    <mat-cell *matCellDef="let izvestaj"> {{izvestaj.prezimePacijenta}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Email pacijenta">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell *matCellDef="let izvestaj"> {{izvestaj.emailPacijenta}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="Akcije">
                    <mat-header-cell *matHeaderCellDef>Akcije</mat-header-cell>
                    <mat-cell *matCellDef="let izvestaj" style="padding-left: 10%;">
                        <button mat-mini-fab color="primary" (click)="editIzvestaj(izvestaj)" matTooltip="Izmena izvestaja" style="margin-right: 2px;" [routerLink]="['/adminklinike/sala']">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                      </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="izvestajiColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: izvestajiColumns;"></mat-row>
            </table>
            <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>
        </div>

           <button mat-raised-button color="primary" [routerLink]="['/lekar']" style="margin-top: 5%;">Nazad</button>
    </div>



</body>
</html>
